@font-face {
    font-family: 'Ruberoid';
    src: url('fonts/Ruberoid-Regular.woff') format('woff'),
    url('fonts/Ruberoid-Regular.woff2') format('woff2');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova_regular.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Ruberoid', sans-serif;
    font-weight: 500;
    color: #000;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(to bottom, #F5F5F5 0%, #DEE2E1 100%);
}

.container {
    width: 1300px;
    margin: 0 auto;
}

header {
    padding:  50px 0;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Proxima Nova';
}

header .logo {
    margin-left: -65px;
}

header nav {
    float: right;
    width: 74%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #495E4C;   
}

header nav ul li:not(.btn) {
    padding: 12px 0;
}


header nav ul li:not(.btn) a:hover {
    border-bottom: 5px solid #78C081;
    border-radius: 2px;
}

header nav ul li.btn a {
    outline: 7px solid #ffffff9c;
    font-family: 'Ruberoid';
    background: #5CCD6A;
    padding: 15px 30px ;
    border-radius: 13px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
}

header nav ul li.btn a:hover {
    background: #36743d;
    transition: all 1500ms ease;
}

.hero-info {
    width: 600px;
    text-align: left; 
    margin-top: -40px;
}

.hero-info p, li {
    font-family: 'Proxima Nova';
}

.hero-info h1 {
    color: #495E4C;
    font-weight: 600;
    font-size: 64px;

}

.hero-info .vent {
    color: #78C081;
}

.hero-info .hr {
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

.hero-info .hr hr {
    width: 155px;
    flex-grow: 1; 
    height: 5px;
    border-radius: 2px;
    background-color: #78C081; 
    border: none;
    margin: 0;
}

.hero-info .hr h1 {
    margin: 0; 
}

.hero img {
    position: absolute;
    top: -168px;
    right: -100px;
}

.hero {
    position: relative;
    height: 652px;
    z-index: 1;
}

.hero-info p {
    color: #7CA381;
    font-size: 22px;
    font-weight: 400;
}

.hero-info .z {
    display: block;
    text-align: center;
    margin-top: 60px;
    margin-right: 80px;
}

.hero-info .z a,
.hero-comfort .comfort-text a {
    background: #5CCD6A;
    font-family: 'Ruberoid';
    color: #fff;
    outline: 16px solid #78C08140;
    padding: 23px 90px;
    border-radius: 23px;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
}

.hero-info .z a:hover,
.hero-comfort .comfort-text a:hover {
    background: #36743d;
    transition: all 1500ms ease;
}

.hero-price h1 {
    color: #495E4C;
    font-size: 45px;
}

.hero-price .line {
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
}

.hero-price .line hr {
    width: 250px;
    flex-grow: 1; 
    height: 5px;
    border-radius: 2px;
    background-color: #78C081; 
    border: none;
    margin: 0;
}

.hero-price .lung img {
    position: relative;
    right: 109px;
}

.hero-price {
    position: relative;
    margin-bottom: -250px;
}

.hero-price .leaf {
    position: absolute;
    z-index: 3;
    bottom: 290px;
    left: 300px;
}

.hero-price .line1 {
    z-index: 4;
    position: relative;
    bottom: 350px;
}

.hero-step {
    display: flex;
    margin-bottom: 60px;
}

.hero-step h1 {
    color: #495E4C;
    font-size: 45px;
}

.hero-step .hr_line {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 20px;
    margin-right: -300px;
}

.hero-step .hr_line hr {
    width: 110px;
    height: 5px;
    border-radius: 2px;
    background-color: #78C081; 
    border: none;
}

.hero-step .tab {
    margin-top: -80px;
    position: relative;
    
}

.hero-step h2 {
    color: #78C081;
    font-size: 26px;
    margin-left: 316px;
}

.hero-step ul {
    list-style: url('img/Group.png');
}

.hero-step .get_sale {
    margin-top: 18px;
}

.hero-step ul li {
    font-family: 'Proxima Nova';
    color: #7CA381;
    font-size: 16px;
}

.hero-step ul li {
    margin-left: 300px;
}

.hero-way {
    position: relative;
}

.hero-way .lamp {
    position: absolute;
    top: 20px;
    padding-left: 37px;
}

.hero-way .copybook {
    position: absolute;
    padding-left: 437px;
    top: 20px;
}

.hero-way .venti {
    position: absolute;
    top: 22px;
    padding-left: 825px;
}

.hero-way .vector {
    position: relative;
    left: 1170px;
    bottom: 125px;
}

.hero-way .label p {
    font-family: 'Proxima Nova';
    color: #495E4C;
    font-size: 24px;
    font-weight: 600;
    margin-left: 6.5cm;
}

.hero-way .label{
    display: flex;
}

.hero-way .label .wish {
    position: relative;
    bottom: 70px;
    left: 1px;
}

.hero-way .label .request {
    position: relative;
    bottom: 70px;
    left: 25px;
}

.hero-way .label .execution {
    position: relative;
    bottom: 70px;
    left: 73px;
}

.hero-about .hero-info .white {
    position: absolute;

    width: 600px;
    right: 710px;
    bottom: 600px;
}

.hero-about .hero-info .ellipse {
    right: 110px;
    position: relative;
}

.hero-about .hero-info .ellipse2 {
    position: relative;
    left: 160px;
    bottom: 600px;
}

.hero-about .text h1 {
    color: #495E4C;
    font-size: 45px;
}

.hero-about .text {
    position: absolute;
    width: 500px;
    bottom: 653px;
    left: 23px;
}


.hero-about .text .pascal {
    position: relative;
    color: #78C081;
    font-size: 21px;
    font-weight: 400;
    top: 15px;
}

.hero-about .text .one_line {
    display: flex;
    gap: 20px;
    margin-bottom: -50px;
}

.hero-about-info {
    position: relative;
    display: flex;
}

.hero-stage {
    margin-top: 60px;
}

.hero-stage h2{
    color: #78C081;
    font-size: 26px;
}

.hero-stage .green {
    font-size: 35px;
}

.hero-stage p {
    width: 250px;
    text-align: center;
    color: #7CA381;
    font-size: 16px;
    font-family: 'Proxima Nova';
}

.hero-stage .blocks {
    display: flex;
}

.hero-stage .blocks .block {
    max-width: 35%;
    margin: 50px;
}

.hero-comfort {
    display: flex;
    position: relative;
}

.hero-comfort .comfort-text{
    margin-top: -500px;
    padding: 10px;
    width: 45%;
}

.hero-comfort .comfort-text h1 {
    color: #495E4C;
    font-size: 45px;
}

.hero-comfort .comfort-text li {
    padding: 7px;
    font-family: 'Proxima Nova';
    color: #7CA381;
}

.hero-comfort .comfort-text p {
    font-family: 'Proxima Nova';
    color: #848484;
}

.hero-comfort .comfort-text ul {
    margin-left: -23px;
    list-style: #7CA381;
}

.hero-comfort .comfort-text a {
    margin-top: 50px;
    margin-left: 50px;
}

.hero-comfort .comfort-img {
    z-index: 1;
    position: relative;
    bottom: 600px;
    left: 110px;
    width: 45%;
}

.hero-comfort .comfort-img .ellipse {
    position: absolute;
    margin-right: -110px;
    z-index: -1;
}

.hero-comfort .comfort-img .tab {
    position: relative;
    top: 70px;
}

.hero-comfort .comfort-img .tab2 {
    position: relative;
    bottom: -70px;
}

.hero-clients {
    background: url('img/Vector 5.png');
    background-size: 100% auto;
    display: flex;
    margin-top: -500px;
    padding: 0;
    width: 100%;
}

.hero-clients h1 {
    color: #495E4C;
    font-size: 45px;
}

.hero-clients .text h1, .par p{
    padding-left: 110px;
}

.hero-clients p {
    color: #848484;
    font-family: 'Proxima Nova';
    font-size: 16px;
}

.hero-clients .text {
    max-width: 50%;
}

.hero-clients .hr {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: -40px;
}

.hero-clients .hr hr {
    width: 50px;
    flex-grow: 1; 
    height: 5px;
    border-radius: 2px;
    background-color: #78C081; 
    border: none;
    margin: 0;
}

.hero-clients .img .block1, .block2{
    display: flex;
}

.hero-clients .img .block1 {
    top: 150px;
    left: 90px;
    z-index: 1;
    position: relative;
}

.hero-clients .img .block2 {
    margin-top: 60px;
    margin-left: 138px;
    z-index: 2;
    position: absolute;
}

.hero-clients .img .block2 .logo {
    padding-left: 85px;
}

.fone {
    background: #D9FADD;
    height: 70px;
}

footer {
    background: url('img/1674007328_flomaster-club-p-eskiz-detali-mashini-oboi-1.jpg') no-repeat;
    padding-top: 100px;
    display: flex;
}

.hero-logo {
    max-width: 35%;
    padding: 20px;
    margin-left: 90px;
}

.hero-logo p {
    padding: 20px;
    color: #7CA381;
    font-size: 16px;
    font-family: 'Proxima Nova';
    margin-left: -20px;
}

.hero-logo h2 {
    padding: 20px;
    color: #495D4C;
    font-size: 20px;
    margin-left: -20px;
}

.pascal {
    font-size: 24px;
    color: #78C081;
}

.hero-logo hr {
    background:  #78C081;
    float: left;
    width: 415px;
    height: 3px;
    border: 0;
    border-radius: 3px;
}

.hero-contacts {
    margin-right: 130px;
    margin-top: 20px;
    max-width: 30%;
}

.hero-contacts h1{
    color: #495E4C;
    font-size: 26px;
}

.hero-contacts p {
    color: #7B897D;
    font-size: 16px;
    font-family: 'Proxima Nova';
}

.hero-contacts .block {
    display: flex;
}

.hero-contacts .block img {
    padding-top: 20px;
    margin-right: 20px;
    height: 5%;
}

.hero-form {
    width: 29%;
    margin-top: 20px;

}

.hero-form h1 {
    color: #495E4C;
    font-size: 26px;
}

form input {
    border: none;
    background: #FFFFFF;
    border-radius: 15px;
    display: block;
    width: 70%;
    padding: 15px 10px;
    margin-top: 7px;
    margin-bottom: 20px;
}

form input::placeholder {
    color: #7CA381;
    font-size: 14px;
    font-family: 'Proxima Nova';
}

form input[type="submit"] {
    font-size: 15px;
    font-family: 'Ruberoid';
    color: #FFF;
    width: 200px;
    background: #5CCD6A;
    outline: 7px solid #3fbd3d5c;
    margin-left: 7px;
}

form input[type="submit"]:hover {
    background: #36743d;
    transition: all 1500ms ease;
}
